<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewData["Title"] - MotoMarket</title>
    <link rel="icon" type="image/x-icon" href="~/assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#page-top">MotoMarket</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Alicilars" asp-action="Index">Alıcılar</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="BakimGecmisis" asp-action="Index">Bakım Geçmişi</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="BayiAlicis" asp-action="Index">Bayi Alıcıları</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Bayilers" asp-action="Index">Bayi</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="BayiMotosiklets" asp-action="Index">Bayi Motosikletler</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Calisanlar" asp-action="Index">Çalışanlar</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Motosikletlers" asp-action="Index">Ürünler</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead" style="background-image: url('/assets/motorcycle-bg.jpg');">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="mx-auto my-0 text-uppercase">MotoMarket</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">Discover the thrill of the ride with MotoMarket. Your one-stop shop for top-quality motorcycles and accessories. Whether you're a seasoned rider or a beginner, we have everything you need to hit the road in style.</h2>
                    <a class="btn btn-primary" asp-area="" asp-controller="Alicilars" asp-action="Index">Get Started</a>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()
    <!-- About-->
    <section class="about-section text-center" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">
                    <h2 class="text-white mb-4">High-Quality Motorcycles</h2>
                    <p class="text-white-50">
                        At MotoMarket, we pride ourselves on offering a wide selection of the best motorcycles available. From cruisers to sport bikes, we have something for every rider. Visit our shop and find your perfect ride today!
                    </p>
                </div>
            </div>
            <img class="img-fluid" src="/assets/motorcycle-about.jpg" alt="Motorcycles" />
        </div>
    </section>
    <!-- Projects-->
    <section class="projects-section bg-light" id="projects">
        <div class="container px-4 px-lg-5">
            <!-- Featured Project Row-->
            <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="/assets/motorcycle-featured.jpg" alt="Motorcycle" /></div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4>Riding into the Sunset</h4>
                        <p class="text-black-50 mb-0">Experience the freedom of the open road with our top-of-the-line motorcycles. Visit MotoMarket today and start your adventure!</p>
                    </div>
                </div>
            </div>
            <!-- Project One Row-->
            <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="/assets/motorcycle-project1.jpg" alt="Motorcycle" /></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">Speed and Performance</h4>
                                <p class="mb-0 text-white-50">Our motorcycles are designed to deliver exceptional speed and performance. Find the perfect bike that matches your riding style at MotoMarket.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project Two Row-->
            <div class="row gx-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="/assets/motorcycle-project2.jpg" alt="Motorcycle" /></div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-white">Adventure Awaits</h4>
                                <p class="mb-0 text-white-50">Get ready for your next adventure with our rugged and reliable motorcycles. Explore the great outdoors with MotoMarket.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Signup-->
    <section class="signup-section" id="signup">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-10 col-lg-8 mx-auto text-center">
                    <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                    <h2 class="text-white mb-5">Subscribe to receive updates!</h2>
                    <form class="form-signup" id="contactForm" data-sb-form-api-token="API_TOKEN">
                        <div class="row input-group-newsletter">
                            <div class="col"><input class="form-control" id="emailAddress" type="email" placeholder="Enter email address..." aria-label="Enter email address..." data-sb-validations="required,email" /></div>
                            <div class="col-auto"><button class="btn btn-primary disabled" id="submitButton" type="submit">Notify Me!</button></div>
                        </div>
                        <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:required">An email is required.</div>
                        <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:email">Email is not valid.</div>
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3 mt-2 text-white">
                                <div class="fw-bolder">Form submission successful!</div>
                                To activate this form, sign up at
                                <br />
                                <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                            </div>
                        </div>
                        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3 mt-2">Error sending message!</div></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="footer bg-black small text-center text-white-50"><div class="container px-4 px-lg-5">Copyright &copy; MotoMarket 2024</div></footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/js/scripts.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
