@model BikeAppApp.Models.Calisanlar

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutProje.cshtml";
}

<h1>Edit</h1>

<h4>Calisanlar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CalisanId" />
            <div class="form-group">
                <label asp-for="Isim" class="control-label"></label>
                <input asp-for="Isim" class="form-control" />
                <span asp-validation-for="Isim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Soyisim" class="control-label"></label>
                <input asp-for="Soyisim" class="form-control" />
                <span asp-validation-for="Soyisim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefon" class="control-label"></label>
                <input asp-for="Telefon" class="form-control" />
                <span asp-validation-for="Telefon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CalistigiYerId" class="control-label"></label>
                <select asp-for="CalistigiYerId" class="form-control" asp-items="ViewBag.CalistigiYerId"></select>
                <span asp-validation-for="CalistigiYerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CalistigiYerTipi" class="control-label"></label>
                <input asp-for="CalistigiYerTipi" class="form-control" />
                <span asp-validation-for="CalistigiYerTipi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
